<!DOCTYPE html>
 <head>
      <title>Spam detection</title>
   </head>
<style> 
body {
  background-image: url("https://t4.ftcdn.net/jpg/03/08/69/75/360_F_308697506_9dsBYHXm9FwuW0qcEqimAEXUvzTwfzwe.jpg");
  background-color: #cccccc;
}
</style>
</head>
	
   <body text = "white" bgcolor ="#87CEEB">
      <p><pre><h1><center>Spam detection using Machine learning Methods.</center></h1></pre></p>
	  <br><br><br>
	  <img src="https://static.vecteezy.com/system/resources/thumbnails/002/079/163/small_2x/arrow-up-down-icon-blue-and-red-line-free-vector.jpg" width="200" height="150">
<br></br>

<br><br><br><br>
   
 <form action="/action_page.php">
 <label for="fname">ENTER YOUR MESSAGE -------> </label>
 <input type="text" id="message" name="message"  size="100"> <br><br><br>

<br> 
  <button onclick="myFunction()">SUBMIT</button>

  </form>

     
   </body>
   
</html>